a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #fefefe;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(145, 145, 145);
  background-color: transparent;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #333;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

nav ul li.active a {
  background-color: white;
  color: black;
  border-radius: 5px;
}

.logo img {
  margin-top: 50px;
  width: 150px;
}

.boxes {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.box {
  width: 200px;
  height: 150px;
  background-color: #c4c4c4;
}

.long-boxes {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
  gap: 50px;
}

.long-box {
  background-color: #c4c4c4;
  color: black;
  width: 40%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 550;
}

.long-box a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

.long-box a:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

.long-box  a:hover {
  color: rgb(106, 106, 106);
  background-color: transparent;
  text-decoration: none;
}